$theme_dark: #242a42;
$theme_light: #3a4056;
$theme_light_50_opacity: #44495E;
$theme_lighter: #4e5367;
$theme_lighter_2: #5e6377;
$theme_link: #81bdc1;
$theme_text: #ccc;
$theme_text_2: #d49747;
$theme_text_3: #959AAF;

.grey, .gray {
  color: #aaa !important;
}

.red {
  color: lightcoral !important;
}

.green {
  color: lightgreen !important;
}

.orange {
  color: orange !important;
}

.white {
  color: white !important;
}