// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colors';

.orders-list {
  //margin-top: 10px;
  td {
    text-align: center;
  }
  .order-details {
    > td {
      padding: 0px 0px;
      .order-details-container {
        background: $theme_dark;
        width: 100%;
        min-height: 100px;
        border-spacing: 8px;
        > tbody, > thead, &.order-details-container {
          > tr {
            > td {
              background: $theme_light;
              font-size: 12px;
              vertical-align: top;
              padding: 5px 10px;
              table {
                width: 100%;
                border-collapse: collapse;
                td {
                  padding: 0px 0px;
                }
                &.right-left {
                  td:first-child {
                    text-align: left;
                    color: white;
                  }
                  td:last-child {
                    text-align: right;
                  }
                }
                tr {
                  &.bottom-line {
                    border-top: 1px solid $theme_text;
                  }
                }
              }
              .caption {
                text-align: center;
                font-size: 16px;
                margin: 3px 0px;
              }
            }
          }
        }
      }
    }
  }
}

#filtered-content {
  margin: 10px 0px;
}

.generic-chart {
  margin: 15px 0px;
}